.cart-container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-weight: 600;
  color: #777;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.cart-icon-container.active {
  font-weight: bold;
  color: #6200ea;
}

.cart-icon-container.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #6200ea;
  border-radius: 2px;
}
.product-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-info img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-controls button {
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

.total-price {
  font-weight: bold;
}

.cart-summary {
  text-align: right;
  margin-top: 2rem;
}

.checkout-btn {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.continue-link {
  display: inline-block;
  margin-top: 0.5rem;
  color: #333;
  text-decoration: underline;
}
