.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #6200ea;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: pop 0.3s ease;
}

/* Small pop animation */
@keyframes pop {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

  /* Hero Section */
  .hero-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .hero-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid #e8e4ef;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    border-radius: 6px;
  }
  
  .hero-button:hover {
    background: #4500c8;
    color: #ffffff;
  }
  
  /* Product Container */
  .container {
    background-color: #ffffff;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .search-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .search-container input {
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    margin-right: 1rem;
  }

    .search-container button {
        background-color: #6200ea;
        color: white;
        border: none;
        padding: 9px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1rem;
        transition: background 0.3s ease, transform 0.2s ease-in-out;
    }

    .search-container button:hover {
        background-color: #4500c8;
        transform: scale(1.05);
    }

    .product-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        padding: 0.5rem 0;
    }
  .product-card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: scale(1.03);
  }
  
  .product-card img {
    width: 80%;
    height: 220px;
    border-radius: 6px;
    transition: transform 0.3s ease;
  }
  
  .product-card img:hover {
    transform: scale(1.05);
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    margin: 0.8rem 0;
  }
  
  .product-card p {
    font-size: 1rem;
    color: #555;
  }
  
  .product-card button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    transition: background 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .product-card button:hover {
    background-color: #4500c8;
    transform: scale(1.05);
  }
