/* Container */
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f9fafb; /* gray-50 */
}

/* Card */
.card-box {
  background-color: white;
  padding: 2.5rem 1.5rem 2.25rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 100%;
  max-width: 28rem; /* max-w-lg */
}

/* Layout */
.inner-layout {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 24rem;
}

/* Title and Subtitle */
.otp-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title-text p {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600;
}

.subtitle-text p {
  font-size: 0.875rem; /* text-sm */
  color: #9ca3af; /* text-gray-400 */
  font-weight: 500;
}

/* OTP Form Layout */
.form-layout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-input-container {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Adds space between boxes */
  margin-bottom: 1rem;
}

.input-wrapper {
  width: 4rem;
  height: 4rem;
}

.otp-input-box {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 2px solid #cbd5e1; /* border-slate-300 */
  border-radius: 0.75rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #f9fafb;
  outline: none;
  color:black;
  transition: border-color 0.2s, background-color 0.2s;
}

.otp-input-box:focus {
  background-color: #ffffff;
  border-color: #2563eb; /* blue-600 */
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.4);
}


/* Verify Button */
.verify-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.25rem 0;
  background-color: #1d4ed8;
  color: white;
  font-size: 0.875rem;
  border-radius: 0.75rem;
  cursor: pointer;
  text-align: center;
}

.verify-button:hover {
  background-color: #2563eb;
  color:white; /* blue-600 */
}

/* Resend Section */
.resend-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
  gap: 0.25rem;
}

.resend-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.resend-link.disabled {
  color: gray;
  text-decoration: none;
  cursor: default;
}
